.publication_comp{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 20px;
    justify-content: space-between;
}
.publication_comp_text{
    display: flex;
    flex-direction: column;
    max-width: 85%;
    word-wrap: break-word;
}
.comment_pub_open{
    width: fit-content;
}
.comment_pub_hide{
    height: 0px;
    max-height: 0px;
    overflow: hidden;
}
#comment_pub_text{
    padding: 20px;
    border: 1px solid black;
    border-radius: 20px;
    width: fit-content;
}
.pub_coments{
    border-bottom: 1px solid black;
    padding-bottom: 20px;
}
#nav_header{
    display: none;
}

@media (max-width: 600px){
    #nav_header{
        display: flex;
        padding: 10px;
    }
}